fastapi[standard]==0.135.1
psycopg[binary,pool]==3.3.3
invoice2data==0.4.5
httpx==0.28.1
clerk-backend-api==5.0.2
PyJWT[crypto]==2.11.0
setuptools==80.10.2
pydantic==2.12.5
starlette==0.52.1
uvicorn==0.41.0
